/*-------------------------Menu Doc -------------------------------*/
.navbar{
  background: #01648b;
	margin: auto;
	min-height: 36px;
	margin-bottom:2px;
}
.ddsmoothmenu ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
    width: 182px;
}
.ddsmoothmenu ul li {
    position: relative;
}
/* Top level menu links style */
.ddsmoothmenu ul li a {
    background:url(../images/line-menu.png) right no-repeat;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    padding-left: 23px;
    line-height: 40px;
    display: block;
}
.ddsmoothmenu ul li a:focus, .ddsmoothmenu ul li a:hover, .ddsmoothmenu ul li a:active {
    color: #000;
    font-weight: bold;
    text-decoration:none;
}
/*Sub level menu items */
.ddsmoothmenu ul li ul {
    height:32px;
    line-height:32px;
    color:#000;
    position: absolute;
    width: auto;
    min-width:190px;
    white-space:nowrap;
    top: 0;
    left: 0;
    visibility: hidden;
}
.ddsmoothmenu ul li ul li a {
    line-height:30px;
    margin: 0;
}
/* Holly Hack for IE \*/
* html .ddsmoothmenu ul li {
    float: left;
    height: 1%;
}
* html .ddsmoothmenu ul li a {
    height: 1%;
}
/* End */


.ddsmoothmenu3{
    font-size: 12px;
    position: relative;
    z-index: 100;width: 1000px;
margin: auto;
}
.ddsmoothmenu3 ul{
    z-index:100;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/*Top level list items*/
.ddsmoothmenu3 ul li{
	list-style: none;
	position: relative;
	float: left;
	height:36px;
}
.ddsmoothmenu3 ul li:last-child{
background:none;
}
.ddsmoothmenu3 ul li a h2:hover{
background:url(../images/bg_hover.png)repeat-x;

}
.ddsmoothmenu3 ul li ul li{width:190px;overflow:hidden;}
/*Top level menu link items style*/
.ddsmoothmenu3 ul li a h2{
	white-space: nowrap;
	float: left;
	list-style: none;
	margin-right: 0px;
	height: 35px;  font-family: OpenSansRegular;
  font-size: 13px;
	line-height: 35px;
	color: #fff;
	padding-left: 16px;
	padding-right: 16px;  text-transform: uppercase;
}
@font-face {
	font-family: 'comsegoe';
	src: url('../fonts/com_segoe_ui_light.ttf');
		 
}
* html .ddsmoothmenu3 ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
    display: inline-block;
	
}
.ddsmoothmenu3 ul li a{padding-right:0px!important;`}
.ddsmoothmenu3 ul li a:hover{
	color:#ffd800;
    text-decoration: none;
}

/*1st sub level menu*/
.ddsmoothmenu3 ul li ul{
z-index: 999999999;
    position: absolute;
    left: 0;
    display: none;
    visibility: hidden;width: 180px!important;
	background:#cd0021;	padding-left: 10px;
}
.ddsmoothmenu3 ul li ul li{
height:auto!important;
background:none!important;
}
/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu3 ul li ul li ul{
    top: 0;
}

/* Sub level menu links style */
.ddsmoothmenu3 ul li ul li a{
    width: 180px;
    font-size: 12px;
    color: #fff;
    margin: 0;
    line-height: 28px;
    border-top-width: 0;
	font-weight:bold;
    z-index: 100;
}
.ddsmoothmenu3 ul li ul li a:hover{
}
/* Holly Hack for IE \*/
* html .ddsmoothmenu3 ul li {
    float: left;
    height: 1%;
}
* html .ddsmoothmenu3 ul li a {
    height: 1%;
}


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass {
    display:none;
}
.rightarrowclass {
    display:none;
}
/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow {
    display: none;
    background: none;
}
.toplevelshadow {
}


